@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
     :root {
        --text-50: #e8e5ff;
        --text-100: #d0ccff;
        --text-200: #a299ff;
        --text-300: #7366ff;
        --text-400: #4433ff;
        --text-500: #1500ff;
        --text-600: #1100cc;
        --text-700: #0d0099;
        --text-800: #080066;
        --text-900: #040033;
        --text-950: #02001a;
        --background-50: #f2f2f2;
        --background-100: #e6e6e6;
        --background-200: #cccccc;
        --background-300: #b3b3b3;
        --background-400: #999999;
        --background-500: #808080;
        --background-600: #666666;
        --background-700: #4d4d4d;
        --background-800: #333333;
        --background-900: #1a1a1a;
        --background-950: #0d0d0d;
        --primary-50: #fbf5ea;
        --primary-100: #f6ecd5;
        --primary-200: #edd8ab;
        --primary-300: #e4c581;
        --primary-400: #dbb157;
        --primary-500: #d29e2d;
        --primary-600: #a87e24;
        --primary-700: #7e5f1b;
        --primary-800: #543f12;
        --primary-900: #2a2009;
        --primary-950: #151004;
        --secondary-50: #fff8e5;
        --secondary-100: #fff1cc;
        --secondary-200: #ffe499;
        --secondary-300: #ffd666;
        --secondary-400: #ffc933;
        --secondary-500: #ffbb00;
        --secondary-600: #cc9600;
        --secondary-700: #997000;
        --secondary-800: #664b00;
        --secondary-900: #332500;
        --secondary-950: #1a1300;
        --accent-50: #fff2e5;
        --accent-100: #ffe6cc;
        --accent-200: #ffcc99;
        --accent-300: #ffb366;
        --accent-400: #ff9933;
        --accent-500: #ff8000;
        --accent-600: #cc6600;
        --accent-700: #994c00;
        --accent-800: #663300;
        --accent-900: #331a00;
        --accent-950: #1a0d00;
    }
    .dark {
        --text-50: #03001a;
        --text-100: #060033;
        --text-200: #0c0066;
        --text-300: #120099;
        --text-400: #1800cc;
        --text-500: #1e00ff;
        --text-600: #4b33ff;
        --text-700: #7866ff;
        --text-800: #a599ff;
        --text-900: #d2ccff;
        --text-950: #e8e5ff;
        --background-50: #0d0d0d;
        --background-100: #1a1a1a;
        --background-200: #333333;
        --background-300: #4d4d4d;
        --background-400: #666666;
        --background-500: #808080;
        --background-600: #999999;
        --background-700: #b3b3b3;
        --background-800: #cccccc;
        --background-900: #e6e6e6;
        --background-950: #f2f2f2;
        --primary-50: #151004;
        --primary-100: #2a2009;
        --primary-200: #543f12;
        --primary-300: #7e5f1b;
        --primary-400: #a87e24;
        --primary-500: #d29e2d;
        --primary-600: #dbb157;
        --primary-700: #e4c581;
        --primary-800: #edd8ab;
        --primary-900: #f6ecd5;
        --primary-950: #fbf5ea;
        --secondary-50: #1a1300;
        --secondary-100: #332500;
        --secondary-200: #664b00;
        --secondary-300: #997000;
        --secondary-400: #cc9600;
        --secondary-500: #ffbb00;
        --secondary-600: #ffc933;
        --secondary-700: #ffd666;
        --secondary-800: #ffe499;
        --secondary-900: #fff1cc;
        --secondary-950: #fff8e5;
        --accent-50: #1a0d00;
        --accent-100: #331a00;
        --accent-200: #663300;
        --accent-300: #994c00;
        --accent-400: #cc6600;
        --accent-500: #ff8000;
        --accent-600: #ff9933;
        --accent-700: #ffb366;
        --accent-800: #ffcc99;
        --accent-900: #ffe6cc;
        --accent-950: #fff2e5;
    }
}

#root {
    display: grid;
    grid-template-rows: auto 1fr auto;
}
